{% extends "base.html" %}
{% load static %}

{% block title %}
    {% block dashboard_title %}داشبورد{% endblock %}
{% endblock %}

{% block content %}
<div class="dashboard-page">
    <link rel="stylesheet" href="{% static 'css/dashboard_styles.css' %}">
    <h2 class="mb-4 text-center">
        داشبورد
        <small class="text-muted" style="font-size: 0.8em;">
            ({{ role_fa }})
        </small>
    </h2>

    <div class="row g-4 justify-content-center">
        {% block dashboard_cards %}
            {# محتوای کارت‌های هر داشبورد در اینجا قرار می‌گیرد #}
        {% endblock %}
    </div>
</div>
{% endblock %}